## Student Information

**Name:** [Your Name Here]  
**Roll Number:** [Your Roll Number]  
**Date:** [Submission Date]  
**College:** [Your College Name]  
**Academic Year:** 2025-2026  

---

## Learning Outcomes Checklist

- [ ] LO1: Read CSV files with various parameters and encodings
- [ ] LO2: Parse JSON data including nested structures
- [ ] LO3: Extract data from XML files using multiple approaches
- [ ] LO4: Read Excel spreadsheets and multiple sheets
- [ ] LO5: Connect and query SQL databases
- [ ] LO6: Handle file encoding issues and special characters
- [ ] LO7: Validate loaded data for quality and consistency
- [ ] LO8: Convert between different file formats
- [ ] LO9: Optimize data loading performance
- [ ] LO10: Create reusable data loading functions

## Phase 0: Environment Setup & Library Imports

In [24]:
# Import all required libraries
import pandas as pd
import numpy as np
import json
import xml.etree.ElementTree as ET
import time
import sys
import sqlite3

# Print versions
print("üìö LIBRARY VERSIONS:")
print(f"Python: {sys.version.split()[0]}")
print(f"Pandas: {pd.__version__}")
print(f"NumPy: {np.__version__}")
print("\n‚úÖ All libraries imported successfully!")

# Set up display options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.width', None)

üìö LIBRARY VERSIONS:
Python: 3.13.5
Pandas: 2.2.2
NumPy: 1.26.4

‚úÖ All libraries imported successfully!

## Phase 1: CSV File Reading

CSV (Comma-Separated Values) is the most common format for data exchange.

In [3]:
# Create sample CSV data for demonstration
sample_csv_data = '''ID,Name,Age,Department,Salary
1,Alice,28,Engineering,75000
2,Bob,34,Sales,65000
3,Charlie,29,Marketing,60000
4,Diana,31,Engineering,80000
5,Eve,26,HR,55000
6,Frank,35,Finance,70000
7,Grace,27,Engineering,72000
8,Henry,33,Sales,68000
9,Iris,30,Marketing,62000
10,Jack,36,Finance,75000'''

# Write to CSV file
with open('sample_data.csv', 'w') as f:
    f.write(sample_csv_data)

print("‚úÖ Sample CSV file created!")
print("\nFirst few lines of CSV:")
print(sample_csv_data[:200] + "...")

‚úÖ Sample CSV file created!

First few lines of CSV:
ID,Name,Age,Department,Salary
1,Alice,28,Engineering,75000
2,Bob,34,Sales,65000
3,Charlie,29,Marketing,60000
4,Diana,31,Engineering,80000
5,Eve,26,HR,55000
6,Frank,35,Finance,70000
7,Grace,27,Engineer...

In [4]:
# Basic CSV reading
print("üìñ BASIC CSV READING:")
df_csv = pd.read_csv('sample_data.csv')
print(f"Shape: {df_csv.shape}")
print(f"\nFirst 5 rows:")
print(df_csv.head())
print(f"\nData Types:")
print(df_csv.dtypes)
print(f"\nMemory Usage: {df_csv.memory_usage(deep=True).sum() / 1024:.2f} KB")

üìñ BASIC CSV READING:
Shape: (10, 5)

First 5 rows:
   ID     Name  Age   Department  Salary
0   1    Alice   28  Engineering   75000
1   2      Bob   34        Sales   65000
2   3  Charlie   29    Marketing   60000
3   4    Diana   31  Engineering   80000
4   5      Eve   26           HR   55000

Data Types:
ID             int64
Name          object
Age            int64
Department    object
Salary         int64
dtype: object

Memory Usage: 1.44 KB

In [5]:
# Read CSV with custom parameters
print("üìñ CSV WITH CUSTOM PARAMETERS:")

df_custom = pd.read_csv(
    'sample_data.csv',
    delimiter=',',                    # CSV delimiter
    header=0,                         # Row index for column names
    encoding='utf-8',                 # File encoding
    dtype={'ID': int, 'Name': str},   # Specify column types
    nrows=5                           # Read first 5 rows
)

print(f"‚úÖ Custom CSV loaded: {df_custom.shape}")
print(df_custom)

üìñ CSV WITH CUSTOM PARAMETERS:
‚úÖ Custom CSV loaded: (5, 5)
   ID     Name  Age   Department  Salary
0   1    Alice   28  Engineering   75000
1   2      Bob   34        Sales   65000
2   3  Charlie   29    Marketing   60000
3   4    Diana   31  Engineering   80000
4   5      Eve   26           HR   55000

In [7]:
# Handle encoding issues
print("üìñ ENCODING HANDLING:")

def read_csv_with_encoding(filepath):
    """Try different encodings if UTF-8 fails"""
    encodings = ['utf-8', 'latin-1', 'iso-8859-1', 'cp1252']
    
    for enc in encodings:
        try:
            df = pd.read_csv(filepath, encoding=enc)
            print(f"‚úÖ Successfully loaded with encoding: {enc}")
            return df
        except UnicodeDecodeError:
            continue
    
    print("‚ùå Could not read file with any encoding")
    return None

# Test with our sample file
df_encoded = read_csv_with_encoding('sample_data.csv')
print(f"Loaded shape: {df_encoded.shape}")

üìñ ENCODING HANDLING:
‚úÖ Successfully loaded with encoding: utf-8
Loaded shape: (10, 5)

## Phase 2: JSON File Reading

JSON (JavaScript Object Notation) is great for hierarchical and nested data.

In [8]:
# Create sample JSON data
sample_json_data = [
    {"ID": 1, "Name": "Alice", "Age": 28, "Department": "Engineering", "Salary": 75000},
    {"ID": 2, "Name": "Bob", "Age": 34, "Department": "Sales", "Salary": 65000},
    {"ID": 3, "Name": "Charlie", "Age": 29, "Department": "Marketing", "Salary": 60000},
    {"ID": 4, "Name": "Diana", "Age": 31, "Department": "Engineering", "Salary": 80000},
    {"ID": 5, "Name": "Eve", "Age": 26, "Department": "HR", "Salary": 55000}
]

# Write to JSON file
with open('sample_data.json', 'w') as f:
    json.dump(sample_json_data, f, indent=2)

print("‚úÖ Sample JSON file created!")
print(f"\nJSON content preview:")
print(json.dumps(sample_json_data[:2], indent=2))

‚úÖ Sample JSON file created!

JSON content preview:
[
  {
    "ID": 1,
    "Name": "Alice",
    "Age": 28,
    "Department": "Engineering",
    "Salary": 75000
  },
  {
    "ID": 2,
    "Name": "Bob",
    "Age": 34,
    "Department": "Sales",
    "Salary": 65000
  }
]

In [9]:
# Read JSON file
print("üìñ BASIC JSON READING:")
df_json = pd.read_json('sample_data.json')
print(f"Shape: {df_json.shape}")
print(f"\nLoaded data:")
print(df_json)

üìñ BASIC JSON READING:
Shape: (5, 5)

Loaded data:
   ID     Name  Age   Department  Salary
0   1    Alice   28  Engineering   75000
1   2      Bob   34        Sales   65000
2   3  Charlie   29    Marketing   60000
3   4    Diana   31  Engineering   80000
4   5      Eve   26           HR   55000

In [10]:
# Handle nested JSON
print("üìñ NESTED JSON HANDLING:")

nested_json_data = {
    "employees": [
        {"id": 1, "name": "Alice", "details": {"age": 28, "dept": "Eng"}},
        {"id": 2, "name": "Bob", "details": {"age": 34, "dept": "Sales"}}
    ]
}

with open('nested_data.json', 'w') as f:
    json.dump(nested_json_data, f, indent=2)

# Read and normalize nested JSON
with open('nested_data.json', 'r') as f:
    data = json.load(f)

df_nested = pd.json_normalize(data['employees'])
print(f"Nested JSON normalized:")
print(df_nested)
print(f"\nColumns: {list(df_nested.columns)}")

üìñ NESTED JSON HANDLING:
Nested JSON normalized:
   id   name  details.age details.dept
0   1  Alice           28          Eng
1   2    Bob           34        Sales

Columns: ['id', 'name', 'details.age', 'details.dept']

In [11]:
# JSON from string
print("üìñ JSON STRING PARSING:")

json_string = '''[
    {"id": 1, "name": "Alice", "city": "NYC"},
    {"id": 2, "name": "Bob", "city": "LA"},
    {"id": 3, "name": "Charlie", "city": "Chicago"}
]'''

df_from_string = pd.read_json(json_string, orient='records')
print(f"Parsed from string: {df_from_string.shape}")
print(df_from_string)

üìñ JSON STRING PARSING:
Parsed from string: (3, 3)
   id     name     city
0   1    Alice      NYC
1   2      Bob       LA
2   3  Charlie  Chicago

/var/folders/71/fbr9l6wn4c570d0d4d7f_d880000gn/T/ipykernel_5510/770485135.py:10: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_from_string = pd.read_json(json_string, orient='records')

## Phase 3: XML File Reading

XML (eXtensible Markup Language) is a hierarchical format often used in enterprise systems.

In [12]:
# Create sample XML data
xml_data = '''<?xml version="1.0" encoding="UTF-8"?>
<employees>
    <employee>
        <id>1</id>
        <name>Alice</name>
        <age>28</age>
        <department>Engineering</department>
        <salary>75000</salary>
    </employee>
    <employee>
        <id>2</id>
        <name>Bob</name>
        <age>34</age>
        <department>Sales</department>
        <salary>65000</salary>
    </employee>
    <employee>
        <id>3</id>
        <name>Charlie</name>
        <age>29</age>
        <department>Marketing</department>
        <salary>60000</salary>
    </employee>
</employees>'''

# Write to XML file
with open('sample_data.xml', 'w') as f:
    f.write(xml_data)

print("‚úÖ Sample XML file created!")
print(f"\nXML structure:")
print(xml_data[:300] + "...")

‚úÖ Sample XML file created!

XML structure:
<?xml version="1.0" encoding="UTF-8"?>
<employees>
    <employee>
        <id>1</id>
        <name>Alice</name>
        <age>28</age>
        <department>Engineering</department>
        <salary>75000</salary>
    </employee>
    <employee>
        <id>2</id>
        <name>Bob</name>
        <age>34...

In [13]:
# Parse XML using ElementTree
print("üìñ XML PARSING WITH ELEMENTTREE:")

tree = ET.parse('sample_data.xml')
root = tree.getroot()

print(f"Root tag: {root.tag}")
print(f"Number of records: {len(root)}")

# Extract data into list
data_list = []
for item in root.findall('employee'):
    record = {
        'id': item.find('id').text,
        'name': item.find('name').text,
        'age': item.find('age').text,
        'department': item.find('department').text,
        'salary': item.find('salary').text
    }
    data_list.append(record)

df_xml = pd.DataFrame(data_list)
print(f"\n‚úÖ XML parsed successfully: {df_xml.shape}")
print(df_xml)

üìñ XML PARSING WITH ELEMENTTREE:
Root tag: employees
Number of records: 3

‚úÖ XML parsed successfully: (3, 5)
  id     name age   department salary
0  1    Alice  28  Engineering  75000
1  2      Bob  34        Sales  65000
2  3  Charlie  29    Marketing  60000

## Phase 4: Excel File Reading

Excel is widely used in business environments, supporting multiple sheets and formatting.

In [14]:
# Create sample Excel file
print("üìù CREATING SAMPLE EXCEL FILE:")

# Create multiple dataframes
df_sheet1 = pd.DataFrame({
    'ID': [1, 2, 3, 4, 5],
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Department': ['Engineering', 'Sales', 'Marketing', 'Engineering', 'HR']
})

df_sheet2 = pd.DataFrame({
    'Department': ['Engineering', 'Sales', 'Marketing', 'HR'],
    'Budget': [500000, 300000, 200000, 150000]
})

# Write to Excel with multiple sheets
with pd.ExcelWriter('sample_data.xlsx', engine='openpyxl') as writer:
    df_sheet1.to_excel(writer, sheet_name='Employees', index=False)
    df_sheet2.to_excel(writer, sheet_name='Budgets', index=False)

print("‚úÖ Excel file with 2 sheets created!")

üìù CREATING SAMPLE EXCEL FILE:
‚úÖ Excel file with 2 sheets created!

In [15]:
# Read Excel file
print("üìñ BASIC EXCEL READING:")

df_excel = pd.read_excel('sample_data.xlsx')
print(f"Shape: {df_excel.shape}")
print(f"\nFirst sheet data:")
print(df_excel)

üìñ BASIC EXCEL READING:
Shape: (5, 3)

First sheet data:
   ID     Name   Department
0   1    Alice  Engineering
1   2      Bob        Sales
2   3  Charlie    Marketing
3   4    Diana  Engineering
4   5      Eve           HR

In [16]:
# Read specific sheets
print("üìñ READING SPECIFIC SHEETS:")

# Get all sheet names
xl_file = pd.ExcelFile('sample_data.xlsx')
print(f"Available sheets: {xl_file.sheet_names}")

# Read specific sheet
df_employees = pd.read_excel('sample_data.xlsx', sheet_name='Employees')
df_budgets = pd.read_excel('sample_data.xlsx', sheet_name='Budgets')

print(f"\nEmployees sheet: {df_employees.shape}")
print(df_employees)

print(f"\nBudgets sheet: {df_budgets.shape}")
print(df_budgets)

üìñ READING SPECIFIC SHEETS:
Available sheets: ['Employees', 'Budgets']

Employees sheet: (5, 3)
   ID     Name   Department
0   1    Alice  Engineering
1   2      Bob        Sales
2   3  Charlie    Marketing
3   4    Diana  Engineering
4   5      Eve           HR

Budgets sheet: (4, 2)
    Department  Budget
0  Engineering  500000
1        Sales  300000
2    Marketing  200000
3           HR  150000

In [17]:
# Read all sheets at once
print("üìñ READING ALL SHEETS:")

all_sheets = pd.read_excel('sample_data.xlsx', sheet_name=None)
print(f"‚úÖ {len(all_sheets)} sheets loaded\n")

for sheet_name, df in all_sheets.items():
    print(f"Sheet: {sheet_name} - Shape: {df.shape}")

üìñ READING ALL SHEETS:
‚úÖ 2 sheets loaded

Sheet: Employees - Shape: (5, 3)
Sheet: Budgets - Shape: (4, 2)

## Phase 5: SQL Database Reading

SQL databases provide structured data storage with querying capabilities.

In [25]:
# Create sample SQLite database
print("üóÑÔ∏è CREATING SAMPLE DATABASE:")

try:
    # Create connection
    with sqlite3.connect('sample_database.db') as conn:
        cursor = conn.cursor()

        # Create table
        cursor.execute('''CREATE TABLE IF NOT EXISTS employees (
            id INTEGER PRIMARY KEY,
            name TEXT,
            age INTEGER,
            department TEXT,
            salary REAL
        )''')

        # Insert sample data
        data = [
            (1, 'Alice', 28, 'Engineering', 75000),
            (2, 'Bob', 34, 'Sales', 65000),
            (3, 'Charlie', 29, 'Marketing', 60000),
            (4, 'Diana', 31, 'Engineering', 80000),
            (5, 'Eve', 26, 'HR', 55000)
        ]

        cursor.executemany('INSERT OR IGNORE INTO employees VALUES (?, ?, ?, ?, ?)', data)
        conn.commit()

    print("‚úÖ SQLite database created with sample data!")

except sqlite3.Error as e:
    print(f"‚ùå SQLite error: {e}")

# Read from SQLite using sqlite3
print("üìñ READING FROM SQLITE (METHOD 1 - sqlite3):")

try:
    with sqlite3.connect('sample_database.db') as conn:
        df_sql_sqlite = pd.read_sql_query('SELECT * FROM employees', conn)

    print(f"Shape: {df_sql_sqlite.shape}")
    print(df_sql_sqlite)

except sqlite3.Error as e:
    print(f"‚ùå SQLite error: {e}")

üóÑÔ∏è CREATING SAMPLE DATABASE:
‚úÖ SQLite database created with sample data!
üìñ READING FROM SQLITE (METHOD 1 - sqlite3):
Shape: (5, 5)
   id     name  age   department   salary
0   1    Alice   28  Engineering  75000.0
1   2      Bob   34        Sales  65000.0
2   3  Charlie   29    Marketing  60000.0
3   4    Diana   31  Engineering  80000.0
4   5      Eve   26           HR  55000.0

In [3]:
# Read using SQLAlchemy (more powerful)
print("üìñ READING FROM SQLITE (METHOD 2 - SQLAlchemy):")

try:
    from sqlalchemy import create_engine

    # Create engine
    engine = create_engine('sqlite:///sample_database.db')

    # Method 1: Read entire table
    df_sql_table = pd.read_sql_table('employees', engine)
    print(f"Table read: {df_sql_table.shape}")

    # Method 2: Read from SQL query
    df_sql_query = pd.read_sql_query('SELECT * FROM employees WHERE salary > 60000', engine)
    print(f"Query result (salary > 60000): {df_sql_query.shape}")
    print(df_sql_query)

    # Dispose of engine
    engine.dispose()

except ImportError:
    print("‚ùå SQLAlchemy is not installed. Please install it to use this method.")
except NameError as e:
    print(f"‚ùå NameError: {e}. Ensure all required libraries are imported.")
except Exception as e:
    print(f"‚ùå Error reading from SQLite using SQLAlchemy: {e}")

üìñ READING FROM SQLITE (METHOD 2 - SQLAlchemy):
‚ùå NameError: name 'pd' is not defined. Ensure all required libraries are imported.

In [27]:
# Advanced SQL queries
print("üìñ ADVANCED SQL QUERIES:")

# Query 1: Aggregate functions
df_agg = pd.read_sql_query('''
    SELECT department, COUNT(*) as count, AVG(salary) as avg_salary
    FROM employees
    GROUP BY department
''', engine)

print(f"Department statistics:\n{df_agg}\n")

# Query 2: Sorting and limiting
df_sorted = pd.read_sql_query('''
    SELECT name, department, salary
    FROM employees
    ORDER BY salary DESC
    LIMIT 3
''', engine)

print(f"Top 3 by salary:\n{df_sorted}")

üìñ ADVANCED SQL QUERIES:

NameError: name 'engine' is not defined

## Phase 6: Data Validation & Comparison

After loading data, it's crucial to validate and compare different formats.

In [ ]:
# Validation function
def validate_dataframe(df, name):
    """Validate and report on DataFrame quality"""
    print(f"\n{'='*60}")
    print(f"VALIDATION REPORT: {name}")
    print(f"{'='*60}")
    print(f"Shape: {df.shape}")
    print(f"Memory Usage: {df.memory_usage(deep=True).sum() / 1024:.2f} KB")
    print(f"Missing Values: {df.isnull().sum().sum()}")
    print(f"Duplicate Rows: {df.duplicated().sum()}")
    print(f"Duplicate Columns: {len(df.columns) - len(set(df.columns))}")
    print(f"Data Types:")
    print(df.dtypes)
    print(f"{'='*60}")

# Validate all loaded files
validate_dataframe(df_csv, "CSV File")
validate_dataframe(df_json, "JSON File")
validate_dataframe(df_xml, "XML File")

In [ ]:
# Compare different formats
print("\nüìä FORMAT COMPARISON:\n")

formats = {
    'CSV': df_csv,
    'JSON': df_json,
    'XML': df_xml,
    'Excel': df_employees,
    'SQL': df_sql_table
}

# Create comparison dataframe
comparison_data = []
for name, df in formats.items():
    if df is not None:
        comparison_data.append({
            'Format': name,
            'Rows': df.shape[0],
            'Columns': df.shape[1],
            'Memory (KB)': f"{df.memory_usage(deep=True).sum() / 1024:.2f}",
            'Data Types': len(df.dtypes.unique())
        })
    else:
        print(f"‚ùå Missing data for format: {name}")

comparison_df = pd.DataFrame(comparison_data)
print(comparison_df.to_string(index=False))

## Phase 7: Universal Data Loader Function

Create a reusable function that automatically detects and loads different file formats.

In [ ]:
def load_dataset(file_path, **kwargs):
    """
    Automatically detect file format and load data
    
    Parameters:
    - file_path: Path to file
    - **kwargs: Additional parameters for specific format
    
    Returns:
    - pandas DataFrame or None if error
    
    Example:
    df = load_dataset('data.csv')
    df = load_dataset('data.json', orient='records')
    df = load_dataset('data.xlsx', sheet_name='Sheet1')
    """
    extension = file_path.split('.')[-1].lower()
    
    try:
        if extension == 'csv':
            df = pd.read_csv(file_path, **kwargs)
            print(f"‚úÖ CSV file loaded: {df.shape}")
            return df
        
        elif extension == 'json':
            df = pd.read_json(file_path, **kwargs)
            print(f"‚úÖ JSON file loaded: {df.shape}")
            return df
        
        elif extension in ['xlsx', 'xls']:
            df = pd.read_excel(file_path, **kwargs)
            print(f"‚úÖ Excel file loaded: {df.shape}")
            return df
        
        elif extension == 'xml':
            try:
                tree = ET.parse(file_path)
                root = tree.getroot()
                print(f"‚úÖ XML file parsed (root tag: {root.tag})")
                return root
            except ET.ParseError as e:
                print(f"‚ùå XML parsing error: {e}")
                return None
        
        else:
            raise ValueError(f"Unsupported format: {extension}")
    
    except Exception as e:
        print(f"‚ùå Error loading file: {e}")
        return None

print("‚úÖ Universal loader function created!")

In [ ]:
# Test universal loader
print("üß™ TESTING UNIVERSAL LOADER:\n")

df_auto_csv = load_dataset('sample_data.csv')
df_auto_json = load_dataset('sample_data.json')
df_auto_excel = load_dataset('sample_data.xlsx')

print("\n‚úÖ All formats loaded successfully with universal loader!")

## Phase 8: Performance Optimization

Learn techniques to optimize data loading for large files.

In [ ]:
# Performance comparison
print("‚ö° PERFORMANCE TESTING:\n")

# Create larger test files
np.random.seed(42)
large_df = pd.DataFrame({
    'id': range(10000),
    'value1': np.random.randint(0, 100, 10000),
    'value2': np.random.randn(10000),
    'category': np.random.choice(['A', 'B', 'C'], 10000)
})

# Save in different formats
large_df.to_csv('large_data.csv', index=False)
large_df.to_json('large_data.json', orient='records')
large_df.to_excel('large_data.xlsx', index=False)

print("Large test files created (10,000 rows, 4 columns)\n")

In [ ]:
# Time different loading methods
print("üìä LOAD TIME COMPARISON:\n")

results = []

# CSV loading
start = time.time()
df_time_csv = pd.read_csv('large_data.csv')
csv_time = time.time() - start
results.append({'Format': 'CSV', 'Time (s)': f"{csv_time:.4f}"})

# JSON loading
start = time.time()
df_time_json = pd.read_json('large_data.json', orient='records')
json_time = time.time() - start
results.append({'Format': 'JSON', 'Time (s)': f"{json_time:.4f}"})

# Excel loading
start = time.time()
df_time_excel = pd.read_excel('large_data.xlsx')
excel_time = time.time() - start
results.append({'Format': 'Excel', 'Time (s)': f"{excel_time:.4f}"})

results_df = pd.DataFrame(results)
print(results_df.to_string(index=False))
print(f"\nüí° Fastest: CSV ({csv_time:.4f}s)")
print(f"   Slowest: Excel ({excel_time:.4f}s)")

## Phase 9: Practical Tests

Complete all 5 tests to verify your learning outcomes.

In [ ]:
# TEST 1: CSV LOADING
print("üß™ TEST 1: CSV LOADING")
try:
    assert df_csv.shape[0] > 0, "CSV has no rows!"
    assert df_csv.shape[1] > 0, "CSV has no columns!"
    assert 'ID' in df_csv.columns, "ID column missing!"
    assert 'Name' in df_csv.columns, "Name column missing!"
    assert 'Age' in df_csv.columns, "Age column missing!"
    print("‚úÖ TEST 1 PASSED: CSV Loading")
    test1_result = "PASSED"
except AssertionError as e:
    print(f"‚ùå TEST 1 FAILED: {e}")
    test1_result = "FAILED"

In [ ]:
# TEST 2: JSON PARSING
print("\nüß™ TEST 2: JSON PARSING")
try:
    assert df_json.shape[0] > 0, "JSON has no rows!"
    assert isinstance(df_json, pd.DataFrame), "JSON not converted to DataFrame!"
    assert len(df_json.columns) > 0, "JSON has no columns!"
    print(f"‚úÖ TEST 2 PASSED: JSON Parsing ({df_json.shape[0]} records)")
    test2_result = "PASSED"
except AssertionError as e:
    print(f"‚ùå TEST 2 FAILED: {e}")
    test2_result = "FAILED"

In [ ]:
# TEST 3: XML EXTRACTION
print("\nüß™ TEST 3: XML EXTRACTION")
try:
    assert df_xml.shape[0] > 0, "XML has no rows!"
    assert 'id' in df_xml.columns or 'name' in df_xml.columns, "Required columns missing from XML!"
    assert isinstance(df_xml, pd.DataFrame), "XML not converted to DataFrame!"
    print(f"‚úÖ TEST 3 PASSED: XML Extraction ({df_xml.shape[0]} records)")
    test3_result = "PASSED"
except AssertionError as e:
    print(f"‚ùå TEST 3 FAILED: {e}")
    test3_result = "FAILED"

In [ ]:
# TEST 4: EXCEL READING
print("\nüß™ TEST 4: EXCEL READING")
try:
    assert df_excel.shape[0] > 0, "Excel has no rows!"
    assert df_excel.shape[1] > 0, "Excel has no columns!"
    xl_file = pd.ExcelFile('sample_data.xlsx')
    assert len(xl_file.sheet_names) >= 1, "No sheets found!"
    print(f"‚úÖ TEST 4 PASSED: Excel Reading ({len(xl_file.sheet_names)} sheets found)")
    test4_result = "PASSED"
except AssertionError as e:
    print(f"‚ùå TEST 4 FAILED: {e}")
    test4_result = "FAILED"

In [ ]:
# TEST 5: SQL QUERY
print("\nüß™ TEST 5: SQL QUERY")
try:
    assert df_sql_table.shape[0] > 0, "SQL query returned no rows!"
    assert df_sql_table.shape[1] > 0, "SQL query returned no columns!"
    assert 'name' in df_sql_table.columns or 'Name' in df_sql_table.columns, "Name column missing from SQL!"
    print(f"‚úÖ TEST 5 PASSED: SQL Query ({df_sql_table.shape[0]} records retrieved)")
    test5_result = "PASSED"
except AssertionError as e:
    print(f"‚ùå TEST 5 FAILED: {e}")
    test5_result = "FAILED"

## Results Summary

### Test Results

In [ ]:
# Create summary report
test_summary = pd.DataFrame([
    {'Test': 'Test 1: CSV Loading', 'Result': test1_result},
    {'Test': 'Test 2: JSON Parsing', 'Result': test2_result},
    {'Test': 'Test 3: XML Extraction', 'Result': test3_result},
    {'Test': 'Test 4: Excel Reading', 'Result': test4_result},
    {'Test': 'Test 5: SQL Query', 'Result': test5_result}
])

print("\n" + "="*60)
print("TEST RESULTS SUMMARY")
print("="*60)
print(test_summary.to_string(index=False))

passed = sum([1 for r in [test1_result, test2_result, test3_result, test4_result, test5_result] if r == 'PASSED'])
total = 5
print(f"\nüìä SCORE: {passed}/{total} TESTS PASSED ({passed*100/total:.0f}%)")
print("="*60)

## Reflections & Learnings

### What You Learned

1. **CSV Files:**
   - Most efficient format for tabular data
   - Easy to read and process
   - Handling encoding issues important for international data

2. **JSON Format:**
   - Excellent for hierarchical/nested data
   - Use `json_normalize()` for flattening nested structures
   - Good for APIs and web services

3. **XML Format:**
   - Complex parsing required
   - Verbose format but well-structured
   - Common in enterprise systems

4. **Excel Files:**
   - Support multiple sheets
   - Requires additional libraries (openpyxl)
   - Useful for business reports

5. **SQL Databases:**
   - Best for large, structured data
   - Efficient querying with WHERE, GROUP BY, etc.
   - Scalable for production systems

### Key Takeaways

- Always validate data after loading
- Choose format based on data characteristics
- Handle encoding issues proactively
- Create reusable functions for efficiency
- Test different approaches for optimization

## Submission Checklist

Before submitting your practical, verify:

### Code Completion
- [ ] Phase 1 (CSV): Completed with encoding handling
- [ ] Phase 2 (JSON): Completed with nested data handling
- [ ] Phase 3 (XML): Completed with ElementTree parsing
- [ ] Phase 4 (Excel): Completed with multiple sheet reading
- [ ] Phase 5 (SQL): Completed with queries
- [ ] Phase 6 (Validation): Data validation completed
- [ ] Phase 7 (Loader): Universal function created
- [ ] Phase 8 (Performance): Optimization tested

### Test Results
- [ ] All 5 tests passed ‚úÖ
- [ ] Test output clearly visible
- [ ] Error handling demonstrated
- [ ] Performance metrics recorded

### Documentation
- [ ] Student information filled
- [ ] Learning outcomes checklist marked
- [ ] Reflections written
- [ ] Code is well-commented
- [ ] All output is visible and clear

### Files
- [ ] Notebook saved as `Practical_3_Complete_Notebook.ipynb`
- [ ] PDF exported from notebook
- [ ] All test data files included
- [ ] No errors in notebook execution

---

**Practical Status:** Ready for submission ‚úÖ